.pin__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.pin__icon {
  height: 15vh;
  width: 15vh;
  margin: auto;
  border-radius: 100px;
  background-color: #d8b243;
  opacity: 0.3;
}

.pin__text {
  display: flex;
  flex-direction: column;
}

.pin__header {
  margin: auto;
}

.pin__subtext_container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}
