.screen2__container {
  height: 350vh;
  width: 100%;
  background-color: #f4f2eb;
}

.screen2__panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  width: 70%;
  height: 40%;
  margin-top: 85vh;
}

.screen2__panel_container {
  display: flex;
  width: 130%;
  margin: 10% 0 0 10%;
}

.screen2__panel_text {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: 0 5%;
}

.screen2__panel_text h1 {
  font-size: 320%;
  font-weight: 300;
  font-family: inria-serif-regular, sans-serif;
  /* text-shadow: 5px 5px 5px 5px black; */
  margin: 0;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.274);
}

.screen2__panel_text p {
  font-size: 120%;
  /* text-shadow: 5px 5px 5px 5px black; */
  margin: 5% 0;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
}

.screen2__sticker {
  position: absolute;
  background-color: #d8b243;
  background-image: inherit;
  background-blend-mode: multiply;
  width: 55%;
  height: 36vw;
  margin: 1% 0 0 -1%;
  border-radius: 15px;
  z-index: 0;
  box-shadow: 0px 0.5px 10px 0px black;
}

.screen2__panel_img {
  width: 42%;
  border-radius: 10px;
  z-index: 1;
  height: fit-content;
}

.screen2__pins {
  display: flex;
  width: 100%;
  margin-left: 21.5%;
  margin-top: 10%;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .screen2__panel_container {
    flex-direction: column;
    align-items: center;
  }

  .screen2__panel_text {
    margin: 5% 5% 0 0;
  }
}

@media (max-width: 700px) {
  .screen2__container {
    height: 400vh;
  }

  .screen2__panel_text h1 {
    font-size: 300%;
  }
}

@media (max-width: 650px) {
  .screen2__container {
    height: 400vh;
  }

  .screen2__panel_img {
    width: 50%;
    margin: auto;
    /* border-radius: 0; */
  }

  .screen2__panel {
    height: auto;
    width: 100%;
  }

  .screen2__panel_container {
    width: 100%;
    margin: 10% auto;
  }

  .screen2__sticker {
    margin: 0 2% 4% 0;
    width: 50%;
    height: 48vw;
  }

  .screen2__panel_text h1 {
    font-size: 250%;
  }

  .screen2__panel_text p {
    font-size: 100%;
  }

  .screen2__pins {
    margin: auto;
  }
}

@media (max-width: 450px) {
  .screen2__panel_text h1 {
    font-size: 200%;
  }

  .screen2__pins {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .screen2__panel_text h1 {
    font-size: 200%;
  }
}
